<!DOCTYPE html>
<html>
  <head>
    <title>Instasham</title>
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type='text/javascript'>window.splashImage = '<%= image_url('splash_image.png')%>'</script>
    <script type='text/javascript'>window.timprof = '<%= image_url('timprof.jpg')%>'</script>
    <script src="https://kit.fontawesome.com/aff11b43b6.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
